<% include header %>

<h2>식단 요청</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">제목</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="요청하는 식단의 이름" required>
  </div>
  <div class="form-group">
    <label for="body">내용</label>
    <textarea class="form-control" id="body" name="body" placeholder="식단 요청에 관해서 자세히 적어주세요." rows="3" required></textarea>
  </div>
  <div class="form-group">
    <input type="등록하기" value="Post entry" class="btn btn-primary">
  </div>
</form>

<% include footer %>
